numpy==1.23.5 
diffusers==0.21.4
transformers==4.33.0 
tensorboardX
lpips
onnxruntime
rembg
mediapy
scenepic
easydict

tqdm
rich
ninja
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg
omegaconf
einops
plyfile
pygltflib
huggingface_hub
accelerate
open3d
chamferdist
mediapipe